<div class="wrapper">
  <div class="header-wrapper">
    <div class="main-info">
      <div class="location">
        <div class="location__svg">
          <img src="../assets/svg/mapMarker.svg" alt="" />
        </div>
        <span class="location-text">{{ weather.name }}</span>
      </div>
      <div class="today">
        Today, {{ fullDate.mounth }} {{ fullDate.day }}
        {{ fullDate.hours }}:{{ fullDate.minutes }}
      </div>
    </div>

    <div class="weather-short">
      <img src="../assets/svg/clouds.svg" />
        <span>{{ weather.weather[0].description }}</span>
    </div>
  </div>
  <div class="bottom-wrapper">
    <div class="bottom-header">
      <span class="bottom-header__text">Weather Today</span>
    </div>
    <div class="bottom-info">
      <info-block
        svgType="wind"
        inputText="wind"
        [inputNumber]="weather.wind.speed"
      ></info-block>
      <info-block
        svgType="temp"
        inputText="temperature"
        [inputNumber]="weather.main.temp"
      ></info-block>
      <info-block
        svgType="clouds"
        inputText="clouds"
        [inputNumber]="weather.clouds.all"
      ></info-block>
      <info-block
        svgType="sunrise"
        inputText="sunrise"
        [inputNumber]="weather.sys.sunrise"
      ></info-block>
    </div>
  </div>
</div>
