<div class="info-block">
    <div class="info-block-svg" >
      <img *ngIf="svgType==='wind'" src="../../assets/svg/wind.svg" class="info-block-svg__icon"/>
      <img *ngIf="svgType==='temp'" src="../../assets/svg/temperature.svg" class="info-block-svg__icon"/>
      <img *ngIf="svgType==='clouds'" src="../../assets/svg/clouds.svg" class="info-block-svg__icon"/>
      <img *ngIf="svgType==='sunrise'" src="../../assets/svg/sunrise.svg" class="info-block-svg__icon"/>
    </div>
    <div class="info-block-text">
      <span class="info-block-text__helper">{{inputText}}</span>
      <span class="info-block-text__number">{{inputNumber}}</span>
    </div>
  </div>